<div class="page-header">
  <div class="pull-right">
    <%= link_to "New Event", new_company_event_path(@company), class: "btn btn-info" %>
  </div>
  <h1>Events</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.description, company_event_path(@company, event) %></td>
        <td>
          <div class="pull-right">
            <%= link_to "edit", edit_company_event_path(@company, event) %>
            |
            <%= link_to "delete", company_event_path(@company, event), method: :delete, data: {confirm: "Are you sure?"} %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
